# Ignorar binários compilados (sem extensão)
analisador_inteligente
analisador_pro
analisador_rotas
analisador_rotas1
float
float-latencia
history-chain-pro
roteador_queue
traceroute_list

# Ignorar arquivos de log e dados gerados
*.txt
*.csv

# Ignorar dependências de Node.js
node_modules/
package-lock.json

analisador_final
analisador_universal
analisador_estatistico
historico_rotas.txt
*.pcap
*.dump
node_modules/
analisador
analisador_hibrido
analisador_trafego
